ib_insync
TA-Lib
dataclasses
websockets
matplotlib
pyYaml
pandas-datareader
fxcmpy
alpha_vantage
quandl
plotly
Pillow
bokeh 
pydot 
scikit-learn
nltk 
scrapy
fastnumbers
hyperopt
python-docx
Backtesting
bt